<div class="card">
    <div class="card-body">

      <h1>About</h1> 
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime nihil corrupti vero rerum fugit 
        ipsam molestiae. Sed similique aliquam libero obcaecati hic id, ea recusandae! Officiis debitis 
        rem assumenda. Incidunt odio exercitationem autem saepe rem perspiciatis commodi, excepturi delectus officiis!</p>
    </div>
</div>